.checkout {
  display: flex;
}
.checkout__resume, .checkout__confirmation {
  padding: 20px;
}
.checkout__resume button {
  cursor: pointer;
}
.checkout__confirmation {
  display: none;
}
.checkout__confirmation--active {
  display: block;
}
.checkout__confirmation .confirmation__instructor-availability {
  display: none;
}
.checkout__confirmation .confirmation__instructor-availability--active {
  display: block;
}
.checkout__confirmation .confirmation__instructor-availability #instructor-schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.25em 0;
  margin: auto;
  padding: 1em;
  background: #FFF;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25);
  border-radius: .5em;
  user-select: none;
}
.checkout__confirmation .confirmation__instructor-availability #instructor-schedule .day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}
